<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{project.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="project">
  <ion-item>
    <ion-label>Project name</ion-label>
    <ion-input class="ion-text-right" placeholder="Project name" [(ngModel)]="project.name" type="text" required></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-label>Tool name</ion-label>
    <ion-input class="ion-text-right" placeholder="Tool name" [(ngModel)]="project.toolName" type="text"></ion-input>
  </ion-item>

  <section>
    <ion-button expand="block" (click)="saveProjectDetails()" [disabled]="!project.name" class="ion-margin-horizontal">
      <ion-icon slot="start" name="save-outline"></ion-icon>
      <ion-text class="ion-margin-horizontal">Save</ion-text>
    </ion-button>
  </section>
</ion-content>
