<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Select a project</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-toolbar *ngIf="!showAll">
    <ion-buttons slot="end">
      <ion-button class="show-all-button" (click)="showAllProjects()">
        <ion-text color="primary"> (Show all)</ion-text>
      </ion-button>
    </ion-buttons>
    <ion-text>Showing projects used in current and previous weeks.</ion-text>
  </ion-toolbar>

  <ion-item-divider *ngIf="!showAll && projects?.length > 0"></ion-item-divider>

  <!--project list-->
  <ion-list>
    <ion-item
      *ngFor="let project of projects | skipDisabled"
      (click)="selectProject(project)"
      [ngClass]="{ selected: project.id === selectedProject?.id }"
    >
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label color="primary">{{ project.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
