<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button menu="sideMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Weekly view</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- select current date menu -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="weekBackwards()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="weekForward()">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{removeYear(weeklyLogs?.start)}} - {{removeYear(weeklyLogs?.end)}}</ion-title>
  </ion-toolbar>

  <!--project list-->
  <ion-card *ngIf="weeklyLogs?.logs.length > 0">
    <ion-card-content>
      <ion-item *ngFor="let log of weeklyLogs.logs; let i = index" lines="{{i === (weeklyLogs?.logs.length - 1) ? 'none': 'bottom'}}">
        <ion-label slot="start">{{log.projectName}}</ion-label>
        <ion-text slot="end" color="medium">{{log.amount}} h</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!--sum-->
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-text color="danger" slot="start">Sum</ion-text>
        <ion-text color="medium" slot="end">{{weeklyLogs?.sum}} h</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
