<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button menu="sideMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Personal settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <app-setting [setting]="settings.monday"></app-setting>
  <app-setting [setting]="settings.tuesday"></app-setting>
  <app-setting [setting]="settings.wednesday"></app-setting>
  <app-setting [setting]="settings.thursday"></app-setting>
  <app-setting [setting]="settings.friday"></app-setting>

  <section>
    <ion-button expand="block" color="primary" (click)="export()">
      <ion-icon slot="start" name="save-outline"></ion-icon>
      <ion-text class="ion-padding-horizontal">Export</ion-text>
    </ion-button>
  </section>
  <section>
    <section>
      <ion-button
        expand="block"
        color="primary"
        ngxFilePicker
        accept=".json"
        [readMode]="readMode"
        #filePicker="ngxFilePicker"
        [multiple]="false"
        (readEnd)="onReadEnd($event)"
        (filePick)="onFilePicked($event)"
      >
        <ion-icon slot="start" name="download-outline"></ion-icon>
        <ion-text class="ion-padding-horizontal" class="ion-padding-horizontal">Import</ion-text>
      </ion-button>
    </section>
  </section>
</ion-content>
