<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Time</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()" #timeForm="ngForm">
    <ion-card *ngIf="projectLog != null">
      <ion-card-content>
        <ion-item lines="none">
          <ion-label slot="start" color="medium">{{projectLog.projectName}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-label slot="start" color="medium">Time:</ion-label>
          <ion-input
            placeholder="Add a valid time"
            [(ngModel)]="projectLog.amount"
            type="number"
            min="0"
            appValidTime
            required
            [disabled]="!projectLog"
            name="timeToAdd"
            class="ion-text-right"
          ></ion-input>
          <ion-note slot="end"> h</ion-note>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button expand="full" type="submit" [disabled]="!timeForm.form.valid">
      <ion-icon name="save-outline" slot="start"></ion-icon>
      <ion-text class="ion-margin-horizontal">Save</ion-text>
    </ion-button>
    <ion-button expand="full" slot="left" color="danger" (click)="deleteLog()">
      <ion-icon name="trash-bin-outline"></ion-icon>
      <ion-text class="ion-margin-horizontal">Delete</ion-text>
    </ion-button>
  </form>
</ion-content>
