<ion-menu side="start" menuId="sideMenu" contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle autoHide="false" *ngFor="let page of pages">
        <ion-item button [routerLink]="[page.url]">
          <ion-icon name="{{ page.icon }}" slot="start"></ion-icon>
          <ion-label>{{ page.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
