<ion-item-group class="ion-margin-bottom">
  <ion-text color="tertiary">{{ setting.day }}</ion-text>
  <ion-item>
    <ion-label>Arrive</ion-label>
    <ion-datetime
      [(ngModel)]="setting.arrive"
      placeholder="--:--"
      displayFormat="HH:mm"
      min="00:00"
      max="{{ setting.leave || '23:59' }}"
      (ionChange)="updateSetting()"
    ></ion-datetime>
    <ion-note slot="end"> h</ion-note>
  </ion-item>
  <ion-item>
    <ion-label>Leave</ion-label>
    <ion-datetime
      [(ngModel)]="setting.leave"
      placeholder="--:--"
      displayFormat="HH:mm"
      min="{{ setting.arrive || '00:00' }}"
      max="23:59"
      (ionChange)="updateSetting()"
    ></ion-datetime>
    <ion-note slot="end"> h</ion-note>
  </ion-item>
  <ion-item>
    <ion-label>Pause</ion-label>
    <ion-input
      placeholder="0"
      [(ngModel)]="setting.pause"
      type="number"
      appValidTime
      min="0"
      class="ion-text-right"
      (change)="updateSetting()"
    ></ion-input>
    <ion-note slot="end"> h</ion-note>
  </ion-item>
</ion-item-group>
