<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item lines="none">
    <ion-label>Project name: </ion-label>
    <ion-input class="ion-text-right" placeholder="Enter new project name..." [(ngModel)]="newProjectName" type="text" required></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="addNewProject(newProjectName)" [disabled]="!newProjectName || newProjectName.length == 0"
    >Add</ion-button
  >

  <ion-list>
    <ion-item *ngFor="let project of projects; let i = index" lines="{{i === (projects.length - 1) ? 'none': 'bottom'}}">
      <ion-icon slot="start" name="document-outline"></ion-icon>
      <ion-text (click)="editProject(project.id)" color="{{project.disabled ? 'medium' : 'primary'}}">{{project.name}}</ion-text>
      <ion-icon slot="end" name="{{project.disabled ? 'eye-off-outline' : 'eye-outline'}}" (click)="toggleVisibility(project)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
