<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button menu="sideMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Daily view</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- select current date menu -->
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dayBackwards()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="dayForward()">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{dailyLog.date}}</ion-title>
  </ion-toolbar>

  <!-- daily arrival and leave times-->
  <ion-card>
    <ion-card-content>
      <ion-item-group>
        <ion-item>
          <ion-label>Arrive</ion-label>
          <ion-datetime
            [(ngModel)]="dailyLog.arrive"
            placeholder="--:--"
            displayFormat="HH:mm"
            min="00:00"
            max="{{dailyLog.leave || '23:59'}}"
            (ionChange)="updateDailyLog()"
          ></ion-datetime>
          <ion-note slot="end"> h</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Leave</ion-label>
          <ion-datetime
            [(ngModel)]="dailyLog.leave"
            placeholder="--:--"
            displayFormat="HH:mm"
            min="{{dailyLog.arrive || '00:00'}}"
            max="23:59"
            (ionChange)="updateDailyLog()"
          ></ion-datetime>
          <ion-note slot="end"> h</ion-note>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Pause</ion-label>
          <ion-input
            placeholder="Enter time"
            [(ngModel)]="dailyLog.pause"
            type="number"
            appValidTime
            min="0"
            class="ion-text-right"
            (ionChange)="updateDailyLog()"
          ></ion-input>
          <ion-note slot="end"> h</ion-note>
        </ion-item>
      </ion-item-group>
    </ion-card-content>
  </ion-card>

  <!-- project and time selection -->
  <form (ngSubmit)="onSubmit()" #timeForm="ngForm">
    <ion-card>
      <ion-card-content>
        <ion-item-group class="ion-padding-top ion-padding-bottom">
          <ion-item (click)="openProjectModal()" detail="true" detailIcon="caret-down-outline">
            <ion-label> Project </ion-label>
            <ion-text color="primary" class="ion-margin-horizontal">{{model.selectedProject?.name}}</ion-text>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Time</ion-label>
            <ion-input
              placeholder="Add time to project"
              [(ngModel)]="model.timeToAdd"
              type="number"
              appValidTime
              min="0"
              required
              [disabled]="!model.selectedProject"
              name="timeToAdd"
              class="ion-text-right"
            ></ion-input>
            <ion-note slot="end"> h</ion-note>
          </ion-item>
        </ion-item-group>
      </ion-card-content>
    </ion-card>
    <ion-button expand="block" type="submit" [disabled]="!timeForm.form.valid">Add</ion-button>
  </form>

  <!-- list of project time logs -->
  <ion-card *ngIf="dailyLog?.logs.length > 0">
    <ion-card-content>
      <ion-list>
        <ion-item
          *ngFor="let log of dailyLog?.logs; let i = index"
          lines="{{i === ( dailyLog?.logs.length - 1) ? 'none': 'bottom'}}"
          detail="true"
          detailIcon="chevron-forward-outline"
          (click)="editProjectLog(log)"
        >
          <ion-text slot="start" color="primary">{{log.projectName}}</ion-text>
          <ion-text slot="end" class="ion-padding-horizontal" color="medium">{{log.amount}} h</ion-text>
          <!-- <ion-icon name="create-outline" slot="end" (click)="editProjectLog(log)"></ion-icon> -->
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <!--sum hours-->
      <ion-item>
        <ion-label>
          <ion-text color="danger">Sum</ion-text>
        </ion-label>
        <ion-text #sum>{{getTotalLoggedTime()}}</ion-text>
        <ion-note slot="end" *ngIf="sum"> h</ion-note>
      </ion-item>

      <!--left hours-->
      <ion-item lines="none">
        <ion-label>
          <ion-text color="medium">Left</ion-text>
        </ion-label>
        <ion-text #left>{{getTimeLeft()}}</ion-text>
        <ion-note slot="end" *ngIf="left"> h</ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
